@model IEnumerable<Item>
@{
    ViewData["Title"] = "Home Page";
}

@section Banner
{
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="text-black font-weight-bold banner-title">Buy Fast,cheap and secure in Shoplate</h3>

    </div>
</div>
}